html.devtools {

  div.form-build-info {
    display: none;
  }

  &.form-build-info {
    div.form-build-info {
      display: block;
    }
  }

  .toolbar-menu--devtools {
    div.ajax-progress {
      display: none;
    }
  }

}