/**
 * @file
 * Styling for the user module icons.
 */

/**
 * Toolbar tab icon.
 */

.toolbar-bar {
  .toolbar-icon-devtools:before {
    background-image: url('../images/icon-devtools.svg');
  }

  .toolbar-icon-devtools-admin-devtools:before {
    background-image: url('../images/icon-admin-devtools.svg');

  }

  .toolbar-icon-devtools:active:before,
  .toolbar-icon-devtools.active:before {
    background-image: url('../images/icon-devtools.svg');
  }

}

$toolbar-icons-maps: (
        "flush": "icon-recycle",
        "path-to-route": "icon-link",
        "extension-info": "icon-cubes",
        "code-generator": "icon-magic",
        "form-info": "icon-eye-slash",
);

.toolbar-icon {

  @each $icon-prefix, $icon-file-name in $toolbar-icons-maps {
    &.toolbar-icon--#{$icon-prefix}:before {
      background-image: url('../images/#{$icon-file-name}.svg');
    }
  }

}

html.form-build-info .toolbar-icon.toolbar-icon--form-info:before {
  background-image: url('../images/icon-eye.svg');
}