<div class="code-generator-wrapper">
    <div class="code-generator--title">
        {{ title }}
    </div>
    <div class="code-generator--description">
        {{ description }}
    </div>
    <div class="code-generator--link">{{ link }}</div>
</div>