<{{ '?php' | escape }}

/**
 * @file
 * Contains \Drupal\{{ module }}\{{ class }}.
 */

namespace Drupal\{{ module }};

/**
 * Class {{ class }}.
 *
 * @package Drupal\{{ module }}
 */
class {{ class }} {

{% for field in fields %}
  protected ${{ field.machine_name }};
{% endfor %}

  /**
   * Get class instance.
   *
   * @return \Drupal\{{ module }}\{{ class }}
   *   Class instance.
   */
  static public function getInstance() {
    return new self();
  }

  /*
   * Getter / Setter methods.
   */
{% for field in fields %}

  /**
   * Get value for '{{ field.machine_name }}' field.
   */
  public function get{{ field.camel_case }}() {
    return $this->{{ field.machine_name }};
  }

  /**
   * Set value for '{{ field.machine_name }}' field.
   *
   * @param string ${{ field.machine_name }}
   *   Value for field '{{ field.machine_name }}'.
   *
   * @return $this;
   */
  public function set{{ field.camel_case }}(${{ field.machine_name }}) {
    $this->{{ field.machine_name }} = ${{ field.machine_name }};
    return $this;
  }
{% endfor %}

}
